.App {
	text-align: center;
}

/* Header*/
header {
	background-color: #61dafb;
	margin: 0px;
}

header nav {
	margin: 10px;
}

nav a {
	text-decoration: none;
	text-transform: none;
	color: black;
	display: inline;
	padding-top: 50px;
	padding: 0 20px 0 20px;
}

nav a h1 {
	color: black;
	float: left;
}

nav ul {
	text-decoration: none;
	text-transform: none;
	list-style: none;
	float: right;
	padding-top: 12px;
}

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

button {
	background-color: #61dafb;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
